body{
    padding: 0%;
    margin: 0%;
}
header{
    display: flex;
    align-items: center;
    background-color: red;
}
nav{
    display: flex;
    margin: auto;
    gap: 32px;
    background-color: aqua;
}

.iceCream{
    width: 6vw;
    height: 6vw;
    margin: 2%;
    background-color: black;
}

.iceCream img{
    width: 100%;
    height: 100%;
}

